{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h2 text-center text-gray-800 mt-5">
        Cadastro de Aluno
    </h1>
</div>
{% endblock title %}
{% block content %}
<div class="form-control">
    <form action="" method="POST" >
        {% csrf_token %}
        {{form  }}
        <label>Nome</label>
        
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </form>
</div>

{% endblock content %}