{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Cadastro de Campus</h6>
                </div>
                <div class="card-body">
                    <h5>
                        Cadastrar curso
                        <form method="post"  enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}